<%= render "shared/header" %>

<div class="background-container">
  <div class="container text-center">
    <div class="top-text-torisetsus">
      <div class="top-text-torisetsu">
        項目を選択してください
      </div>
    </div>
    <ul class="list-group">
      <% if @torisetsu.introduction.present? %>
        <li class="list-item"><%= link_to "#{current_user.nickname}について", torisetsu_introduction_path(@torisetsu, @torisetsu.introduction), class: "torisetsu_button" %></li>
      <% else %>
        <li class="list-item"><%= link_to "#{current_user.nickname}について", new_torisetsu_introduction_path(@torisetsu), class: "torisetsu_button" %></li>
      <% end %>

      <% if @torisetsu.life.present? %>
        <li class="list-item"><%= link_to '生活について', torisetsu_life_path(@torisetsu, @torisetsu.life), class: "torisetsu_button" %></li>
      <% else %>
        <li class="list-item"><%= link_to '生活について', new_torisetsu_life_path(@torisetsu), class: "torisetsu_button" %></li>
      <% end %>

      <% if @torisetsu.school.present? %>
        <li class="list-item"><%= link_to '学校について', torisetsu_school_path(@torisetsu, @torisetsu.school), class: "torisetsu_button" %></li>
      <% else %>
        <li class="list-item"><%= link_to '学校について', new_torisetsu_school_path(@torisetsu), class: "torisetsu_button" %></li>
      <% end %>

      <% if @torisetsu.partner.present? %>
        <li class="list-item"><%= link_to 'パートナーについて', torisetsu_partner_path(@torisetsu, @torisetsu.partner), class: "torisetsu_button" %></li>
      <% else %>
        <li class="list-item"><%= link_to 'パートナーについて', new_torisetsu_partner_path(@torisetsu), class: "torisetsu_button" %></li>
      <% end %>

      <% if @torisetsu.work.present? %>
        <li class="list-item"><%= link_to '仕事について', torisetsu_work_path(@torisetsu, @torisetsu.work), class: "torisetsu_button" %></li>
      <% else %>
        <li class="list-item"><%= link_to '仕事について', new_torisetsu_work_path(@torisetsu), class: "torisetsu_button" %></li>
      <% end %>
      <li class="list-item"><%= link_to '趣味について', "#", class: "torisetsu_button" %></li>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>
