<%= render "shared/header" %>

<div class="introduction-background-container">
  <div class="introduction-container">
    <div class='introduction-box'>
      <h1><%= current_user.nickname %>の趣味について</h1>
      <table class="introduction-info-table">
        <tr>
          <th>趣味</th>
          <td><%= @hobby.hobby_name %></td>
        </tr>
        <tr>
          <th>週にどれくらい時間をかけますか</th>
          <td><%= @hobby.frequency %></td>
        </tr>
        <tr>
          <th>趣味を楽しむとどうなりますか</th>
          <td><%= @hobby.inability_effect %>なる</td>
        </tr>
        <tr>
          <th>趣味に時間がさけないとどうなりますか</th>
          <td><%= @hobby.no_time_effect %>なる</td>
        </tr>
        <tr>
          <th>やりがいを感じるのはどんなときですか</th>
          <td><%= @hobby.satisfaction_moment %>とき</td>
        </tr>
        <tr>
          <th>没頭するとどうなりますか</th>
          <td><%= @hobby.immersion_effect %>なる</td>
        </tr>
        <tr>
          <th>いつから始めましたか</th>
          <td><%= @hobby.start_time %>から</td>
        </tr>
        <tr>
          <th>趣味で疲れたらどうなりますか</th>
          <td><%= @hobby.fatigue_effect %>なる</td>
        </tr>

      </table>

      <div class="introduction-actions">
        <%= link_to '編集', edit_torisetsu_hobby_path(@torisetsu, @hobby), class: "introduction-btn-primary" %>
        <%= link_to '削除', torisetsu_hobby_path(@torisetsu, @hobby), method: :delete, data: {turbo_method: :delete}, class: "introduction-btn-danger" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
